<div class="h4 text-center mb-4 title" id="testimonial">Testimonial</div>
<div class="container" style="margin-left: 2rem;">

    <div class="row" >
        
    <img src="assets/images/met.jpg" alt="Avatar" style="width:7rem;height:5rem;">
    <p><span>Chris Fox.</span><br> CEO at Mighty Schools.</p>
    <p>John Doe saved us from a web disaster.John Doe saved us from a web disaster.John Doe saved us from a web disaster.
        John Doe saved us from a web disaster.John Doe saved us 
        from a web disaster.John Doe saved us from a web disaster.John Doe saved us from a web disaster.John Doe saved us from a web disaster.John
         Doe saved us from a web disaster.John Doe saved us from a web disaster.John Doe saved us from a web disaster.
         John Doe saved us from a web disaster.John Doe saved us from a web disaster.John Doe saved us from a web disaster.
         John Doe saved us from a web disaster.John Doe saved us from a web disaster.John Doe saved us from a web disaster.</p>
    </div>
    </div>