<div class="abt" id="education">
  <div class="h4 text-center mb-4 title">EDUCATION</div>
    <div class="row" style="margin-left:5rem">
      <div class="col-4" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/met.jpg" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">M.E.T.E.M.H.S.S</h2>
      <p class="card-text">Completed my high school studies in 2016 with 95%</p>
      <a href="https://metemhss.in/" class="btn btn-primary">Visit </a>
    </div>

        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/kalladii.jpg" alt="Card image cap" style="height: 9rem;">
    <div class="card-body">
      <h2 class="card-title">KALLADI HSS</h2>
      <p class="card-text">Completed my higher secondary school studies in 2018 with 85%</p>
      <a href="https://schools.org.in/palakkad/32060700210/kalladi-hss-kumarambathur.html" class="btn btn-primary">Visit </a>
    </div>

        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/koshys.jpg" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">KOSHYS COLLAGE</h2>
      <p class="card-text">Completed my Bachelor studies in 2021 with 80%</p>
      <a href="https://www.kgi.edu.in/" class="btn btn-primary">Visit </a>
    </div>

        </div>
      </div>
    </div>
  </div>