<app-header></app-header>
<div class="body">
    <!-- <div class="container-fluid"> -->
    <div class="box">
        <img src="/assets/images/prf.jpeg" style="width: 15rem;height: 45%;border-radius: 15px 50px 30px;background-image: linear-gradient(rgba(148, 152, 152, 0.26), rgba(184, 190, 190, 0.26));">
        <h1 class="text">Jishnu P</h1>
        <h3 class="text">Mean Stack Developer</h3>
        <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
    </div>
</div> 
<!-- </div> -->

    <app-about></app-about>

    <app-akills></app-akills>

    <app-education></app-education>

    <app-testimonial></app-testimonial>

    <app-contact></app-contact>
